* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

input,
label {
  display: block;
  margin: 8px auto;
}

input {
  padding: 8px;
  width: 300px;
}

input[type="submit"] {
  width: 100px;
}
